rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth.token.role == 'owner';
    }
    function isAdmin() {
      // an owner can assume the admin role
      return isOwner() || request.auth.token.role == 'admin';
    }
    function isEditor() {
      // an owner or admin can assume the editor role
      return isOwner() || isAdmin() || request.auth.token.role == 'editor';
    }
    match /{document=**} {
      match /user-roles/{uid} {
        allow read: if isAdmin();
        allow write: if isOwner();
      }
      allow read: if true;
      allow write: if isEditor();
    }
  }
}
