// material theme
@use "sass:map";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$digcms-primary: mat.define-palette(mat.$orange-palette);
$digcms-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$digcms-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$digcms-theme: mat.define-light-theme((
  color: (
    primary: $digcms-primary,
    accent: $digcms-accent,
    warn: $digcms-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($digcms-theme);

// site theme variables
$colors: (
  "gray": mat.$gray-palette,
  "primary": mat.$orange-palette,
  "accent": mat.$red-palette,
  "danger": mat.$red-palette,
  "warning": mat.$amber-palette,
  "success": mat.$green-palette
);

$gutters: (
  "sm": .25rem,
  "md": .5rem,
  "lg": 1rem,
  "xl": 2.5rem,
);
:root{
  // load colors
  @each $color, $palette in $colors {
    $i: 50;
    @while $i <= 900 {
      --color-#{$color}-#{$i}: #{mat.get-color-from-palette($palette, $i)};
      @if $i == 50{
        $i: 100;
      } @else {
        $i: $i + 100;
      }
    }
  }
  // load gutters
  @each $size, $value in $gutters {
    --gutter-#{$size}: #{$value};
  }
}


