$colors: (
  background: (
    color: #212121,
    contrast: #fff
  ),
  primary: (
    color: #4FC3F7,
    contrast: #fff
  ),
);
$tint: 10%;
$shade: -10%;

$gutters: (
  sm: .25rem,
  md: .5rem,
  lg: 1rem,
  xl: 2.5rem,
);

